<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;}
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3 {border-radius: 8px;
        background-color: #809fff;
        width: 7%;
        color: white;
        padding: 7px 12.5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        
}

.center{
    position: fixed;
    top: 60%;
    left: 53%;
    width: 36em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
}


.center2{
    position: fixed;
    top: 40%;
    left: 64%;
    width: 36em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;

}

.center3{
    position: fixed;
    top: 73%;
    left: 61%;
    margin-top: -9em;
    margin-left: -15em;

}

.center4{
    position: fixed;
    top: 45%;
    left: 35%;
    margin-top: -9em;
    margin-left: -15em;
}

.center5{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}




.ths{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #809fff;
    color: white;
}

.tds{
    border: 1px solid #ddd;
    padding: 8px;
}

#table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

a:link, a:visited {
    background-color: #809fff;
    width: 25%;
    color: white;
    padding: 7px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a{
    background-color: #809fff;
    width: 50%;
    color: white;
    padding: 8px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a2{
    background-color: #809fff;
    width: 65%;
    color: white;
    padding: 8px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#a3{
    background-color: #809fff;
    width: 100%;
    color: white;
    padding: 8px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



    
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #809fff; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
    
</style>


