<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    float: right;

}

.success {background-color: #248f8f;} /* Green */
.success:hover {background-color: #248f8f;}
</style>
</head>
<div id="arriba">
    <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
              class="w3-button w3-display-topright">&times;</span>
        <h2>Cargar Nota:</h2>
    </header>
</div>
<form id="form_nota" method="POST" action="{% url 'addNota' %}">
    {% csrf_token %}

    <input type="hidden" value="" name="materia_id" id="materia_id">

    <div class="w3-container" style="background-color: #ffff00">
        <center><span class="style" id ="alumno_n"><a class="style" style="color: #660066">Nombre:</a> {{alumno.nombre_a}}</span></center>
        <center><span class="style" id ="alumno_a"><a class="style" style="color: #660066">Apellido:</a> {{alumno.apellido_a}}</span></center>
        <center><span class="style" id ="nota_alumno"><a class="style" style="color: #660066">Nota:</a></span><select value=1 onchange="myFunction(event)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select> </center>
        <input id="student_nota" name="student_nota" value="" type="hidden">
        <input id="student_id" name="student_id" value="{{alumno.dni}}" type="hidden">
    </div>



    <footer class="w3-container w3-teal">
       <right> <button class="btn success" id="cargar" onclick="submit()"> CARGAR </button> </right>
    </footer>
</form>

<script>

    function myFunction(e) {
        document.getElementById("student_nota").value = e.target.value;
    }

</script>