<html>

    <head>

        <title> Main </title>
		{% include 'partials/css.html' %}
    </head>

    <body>

        <table>
    <thead class="ths">
        <th >Asignatura</th>
        <th class="center">Nombre del profesor</th>
        <th class="center">Cantidad de alumnos</th>
    </thead>
    <tbody>
        {% for curso in cursos %}
	        <tr>
	            <td class="tds"><a href="{% url 'materia' curso.materia_id %}" >{{curso.nombre_m}}</a></td>
                <td class="tds">{{curso.profesor.nombre_p}}</td>
                <td class="tds">{{curso.cant_alumnos}}</td>
	        </tr>
        {% endfor %}
    </tbody>

</table>

    </body>

</html>