<html>

    <head>

        <title> {{nombre_m}} </title>
        {% include 'partials/css.html' %}
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
        }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
        }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }


    </style>
    </head>
    <body>
        <table id="customers">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Cargar nota</th>
            </thead>
            <tbody>        
                {% for alumno in alumnos %}
                <tr>
                    <td>{{alumno.nombre_a}}</td>
                    <td>{{alumno.apellido_a}}</td>
                    <td>{{alumno.dni}}</td>
                    <td class="vcenter"><input name="aux" onchange="findStudent('{% url 'findStudent' alumno.dni %}', {{alumno.dni}})" type="checkbox" id="nota" value={{alumno.dni}}/></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <!-- The actual snackbar -->
        <div id="snackbar">Nota Cargada !!!</div>

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" id="datos" >

            </div>
        </div>

        <a href="/" class="button button3">Volver</a>
    </body>

    <script>        

        $('document').ready(
            function(){
                $("#id01").addClass("hiddendiv");
                $("#student_id").addClass("hiddendiv");
            }
        );


        $(document).on('submit', '#form_nota', function(e){
            var nota = ({{materia.materia_id}});
            document.getElementById("materia_id").value = nota;
            form_nota.submit()
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: 'addNota',
                data: {
                    student_id:$('#student_id').val(),
                    nota:$('#student_nota').val(),
                    materia_id:$('#materia_nota').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                succes:function(){                    
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                }
            });
        });
        
        function findStudent(url, alum) {
            $.ajax({
                method: "POST",
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            })
                .done(function (data) {
                $("#datos").html(data);
                document.getElementById('id01').style.display='block';
            });
        };

        modal = document.getElementById("id01");

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function myFunction() {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }

    </script>

</html>